* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container-fluid {
	padding-left: 0;
    padding-right: 0;
}


#navbar {
	background-color: #765C3D;
	text-transform: uppercase;
	padding-left: 6rem;
	padding-right: 6rem;
}

.nav-link {
	color: #F2D2AE;
	padding-left: 3rem !important;
}

/*#logo {
	margin-left: 5rem;
}
*/

#landing-section {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
		url("./images/pexels-paul-ijsendoorn-33041.png");
	background-repeat: no-repeat;
    background-size: cover;}


#landing-text {
	text-align: left;
    width: 30%;
	margin-left: 263px;
/*    position: relative;*/
/*    left: 55%;*/
}

#landing-title {
	letter-spacing: -0.08rem;
	font-size: 64px;
}

#landing-info {
	font-size: 24px;
	font-weight: 400;
}

#landing-button {
	background-color: #B59066;
	padding: 0.75rem 2rem;
	border-radius: 62.4375rem;

	font-size: 20px;
	font-weight: 600;
}
/*
#landing-button:focus {
	outline: none !important;
}*/

/*Gallery Section*/
#gallery-section {
	color: #765C3D;
	padding-top: 167px;
}

#gallery-section div {
	gap: 31px;
}

#gallery-section h3 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 600;
}

#gallery-section p {
	font-size: 24px;
}

.albums {
	background: white;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
	padding-top: 3rem;
	padding-bottom: 6rem;
	padding-left: 6rem;
	padding-right: 6rem;
	margin-top: 113px;
}


.carousel-indicators li {
	width: 14px;
    height: 14px;
	border-radius: 50%;
}


/*Contact Section*/
#contact-section {
	background-color: #FFF2E4;
}

#contact-section img {
	width: 808px;
	height: 1088px; 
/*	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.5));*/
}

#contact-div {
	padding: 6rem;
}

#contact-banner {
/*	padding-top: 6rem;*/
	color: #765C3D;
}

#contact-banner h2 {
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
}

#contact-banner p {
	font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#contact-form div{
	color: #B59066;
	font-size: 20px;
}

::placeholder {
	color: #765C3D !important;
	font-weight: 600;
	font-size: 24px;
}

#contact-form button {
	border-radius: 62.4375rem;
	background: #B59066;
	font-size: 20px;
	padding: 12px 32px;
}

.form-control {
	border: 1px solid #B59066;
	border-radius: 0;

	padding-top: 23px;
	padding-bottom: 19.34px;
	padding-left: 20px;
	padding-right: 17.02px;
}

/* Footer Section */
footer {
	background-color: #B59066;

/*	font-size: 1rem;*/
}



